body { font-size:x-large; font-family:Arial, Helvetica, sans-serif;}
dfn { width: 150px; float: left; }
form div { margin-bottom: 1em; float:left; clear:left; }
form > input { display:block; clear:both; }
.ui-widget { font-size: 1em !important; }
